@media screen and (min-width:768px) {
	.lb_header nav {
		display: block !important;
	}
}

@media screen and (max-width:2000px) {
	.lb_slider .mainslider .item .lb_sld_img {
		transform: scale(0.8);
		transform-origin: left;
	}

	.lb_slider .mainslider .item .lb_sld_cont h2 {
		font-size: 60px;
	}

	.lb_slider .mainslider .item .lb_sld_cont h3 {
		font-size: 20px;
		text-transform: none;
	}

	.lb_slider .mainslider .item .lb_sld_cont p {
		max-width: 400px;
		font-size: 20px;
		line-height: 26px;
	}
}

@media screen and (max-width:1700px) {
	.lb_slider .mainslider .item {
		padding: 0 0 0 0px;
	}

	.lb_header nav ul li {
		margin: 0 20px;
	}

	.lb_walb .lb_walb_con {
		width: 560px;
	}

	.lb_walb .lb_walb_con .lb_walb_btn .a_wa {
		margin: 0 25px 25px 0;
	}

	.lb_footer .ftr_wa .ftr_walink .a_wa {
		font-size: 25px;
		padding: 16px 20px;
		margin: 0 20px 20px 0;
	}

	.lb_hiw .hiw_wa .wa_link .a_wa {
		font-size: 25px;
		padding: 21px 30px;
		margin: 0 10px 20px;
		border: 3px solid rgba(119, 18, 18, 0.96);
		background: #700000;
		box-shadow: 0 0 10px 5px rgba(119, 18, 18, 0.96);
	}

	.lb_celeb {
		padding: 127px 80px 106px 100px;
	}
}

@media screen and (max-width:1330px) {
	.lb_slider .mainslider .item .lb_sld_img {
		transform: scale(0.7);
		transform-origin: center bottom;
	}

	.lb_celeb .celeb_wrap .celebslider .item .clb_img_wrap .a_play {
		max-width: 50px;
	}

	.lb_ue .ue_walink .a_wa {
		font-size: 18px;
		padding: 21px 20px;
		margin: 0 0 0 20px;
	}
}

@media screen and (max-width:1279px) {
	.lb_header {
		padding: 50px 15px;
	}

	.lb_header .lb_logo img {
		max-height: 50px;
	}

	.lb_header nav ul li {
		margin: 0 10px;
		font-size: 12px;
	}

	.lb_slider .mainslider .item {
		padding: 0 0 0 50px;
	}

	.lb_slider .mainslider .item .lb_sld_img {
		transform: scale(0.6);
		transform-origin: center bottom;
	}

	.lb_slider .mainslider .item .lb_sld_cont .lb {
		margin: 0 0 26px;
	}

	.lb_slider .mainslider .item .lb_sld_cont h2 {
		font-size: 60px;
		margin: -10px 0 20px;
	}

	.lb_slider .mainslider .item .lb_sld_cont h3 {
		font-size: 15px;
	}

	.lb_slider .mainslider .item .lb_sld_cont p {
		max-width: 300px;
		font-size: 15px;
		margin: 0 0 30px;
		line-height: 22px;
	}

	.lb_slider .mainslider .item .lb_sld_cont .a_id {
		font-size: 14px;
		padding: 12px 22px;
	}

	.lb_slider .cardsmall {
		left: -85px;
		bottom: -59px;
		max-width: 170px;
	}

	.mainslider .owl-nav button.owl-prev {
		left: 10px;
	}

	.mainslider .owl-nav button.owl-next {
		right: 10px;
	}

	.lb_walb .lb_walb_card {
		right: -200px;
		bottom: -57px;
		max-width: 370px;
	}

	.lb_parnter .lb_partner_card {
		max-width: 370px;
	}

	.lb_walb .lb_walb_con {
		width: 540px;
		margin: 0 20px 0 auto;
	}

	.lb_hiw .hiw_counter li {
		margin: 0 20px;
		width: calc(25% - 40px);
	}

	.lb_hiw .hiw_counter li .step_arrow .sa_img {
		max-width: 25px;
		margin: 0 -8px;
	}

	.lb_hiw .hiw_counter li .step_arrow {
		width: 70px;
		right: -55px;
		top: 71px;
	}

	.lb_hiw .hiw_wa .wa_link .a_wa {
		font-size: 20px;
		padding: 15px 20px;
		margin: 0 10px 20px;
	}

	.lb_celeb .celeb_wrap h2 {
		width: 220px;
		font-size: 50px;
		line-height: 50px;
	}

	.lb_celeb {
		padding: 127px 50px 106px 50px;
	}

	.lb_celeb .celeb_wrap .celebslider {
		width: calc(100% - 250px);
	}

	.lb_why .why_ul li .why_icon {
		width: 60px;
	}

	.lb_why .why_ul li .why_cnt {
		width: calc(100% - 80px);
	}

	.lb_why .why_ul li {
		margin: 0 50px 50px 0;
		width: calc(33.33% - 34px);
	}

	.lb_footer .ftr_wa .ftr_walink .a_wa {
		font-size: 20px;
		padding: 14px 20px;
		margin: 0 20px 20px 0;
	}

	.lb_footer .ftr_gs .a_gs2,
	.lb_footer .ftr_gs .a_gs1 {
		font-size: 15px;
		padding: 16px 30px;
	}

	.lb_ue .ue_walink .a_wa {
		font-size: 16px;
		padding: 16px 10px;
		margin: 0 0 0 10px;
	}

	.lb_walb .lb_walb_img .lb_walb_img_ball {
		max-width: 60px;
		left: 38%;
		top: 33%;
	}

	.lb_walb .lb_walb_img .lb_walb_img_ball.anim {
		left: 30%;
		top: 39%;
	}
}

@media screen and (max-width:1023px) {
	.lb_header .lb_logo {
		position: static;
		width: 100%;
		transform: translate(0, 0);
		text-align: center;
		display: inline-block;
	}

	.lb_header .lb_logo img {
		display: inline-block;
	}

	.lb_header {
		padding: 20px 15px;
	}

	.lb_header nav ul li.mid_lg {
		display: none;
	}

	.lb_header nav ul li {
		margin: 0 15px;
		font-size: 12px;
	}

	.lb_header nav {
		width: 100%;
		margin: 15px 0 0;
	}

	.lb_slider .mainslider .item .lb_sld_img {
		transform: scale(0.5);
		transform-origin: left;
	}

	.lb_walb .lb_walb_img {
		position: static;
		max-height: inherit;
		transform: translate(0, 0);
		max-width: 500px;
		margin: 0 auto 40px;
		display: flex;
		align-self: center;
	}

	.lb_walb .lb_walb_con {
		width: 100%;
		margin: 0;
	}

	.lb_walb .lb_walb_con p {
		max-width: 100%;
	}

	.lb_walb {
		padding: 60px 15px;
	}

	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn {
		width: calc(33.33% - 7px);
		margin: 0 10px 10px 0;
	}

	.lb_hiw .hiw_counter li .hiw_step .num_img {
		max-width: 40px;
		margin: -35px 0 0;
	}

	.lb_hiw .hiw_counter li .hiw_step {
		width: 110px;
		height: 110px;
	}

	.lb_hiw .hiw_counter li .step_arrow {
		top: 40px;
		right: -46px;
	}

	.lb_hiw .hiw_counter li {
		margin: 0 10px;
		width: calc(25% - 20px);
	}

	.lb_why .why_ul li {
		margin: 0 20px 20px 0;
		width: calc(33.33% - 14px);
		padding: 15px;
	}

	.lb_why .why_ul li .why_cnt p {
		font-size: 13px;
		line-height: 17px;
	}

	.lb_why .why_ul li .why_cnt h4 {
		margin: 0 0 10px;
		font-size: 16px;
		line-height: 19px;
	}

	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn h4 {
		font-size: 20px;
	}

	.lb_why {
		padding: 70px 0 60px;
	}

	.lb_header.fixed {
		padding: 0px 15px;
	}

	.lb_header nav ul li a::before {
		bottom: -4px;
	}

	.lb_ue h2 {
		font-size: 30px;
		margin: 0 0 20px;
		width: 100%;
		text-align: center;
	}

	.lb_ue .ue_walink .a_wa {
		margin: 0 10px;
	}

	.lb_ue .ue_walink {
		width: 100%;
		justify-content: center;
	}

	.lb_ue {
		flex-wrap: wrap;
	}

	.lb_walb .lb_walb_img {
		height: 290px;
		width: 500px;
	}

	.lb_walb .lb_walb_img .lb_walb_img_ball {
		max-width: 40px;
		left: 42%;
		top: 23%;
	}

	.lb_walb .lb_walb_img .lb_walb_img_ball.anim {
		left: 31%;
		top: 34%;
	}
}

@media screen and (max-width:767px) {
	.lb_header {
		background: #1f001b00;
		padding: 3px 20px 3px;
		text-align: center;
		border-bottom: 1px solid rgba(119, 18, 18, 0.96);
	}

	.lb_header .lb_logo img {
		max-height: 90px;
	}

	.lb_header nav {
		display: none;
	}

	.lb_header .lb_logo {
		width: 195px;
	}

	.menuburger {
		display: block;
		position: absolute;
		left: 11px;
		top: 50%;
		transform: translate(0, -50%);
		width: 45px;
	}

	.lb_header nav {
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		top: 100%;
		padding: 10px 0;
		margin: 0;
		background: #000;
		border-top: 2px solid #E71322;
	}

	.lb_header nav ul {
		width: 100%;
	}

	.lb_header nav ul li {
		width: 100%;
		margin: 0;
		margin: 10px 0;
		padding: 0 20px;
	}

	.lb_slider .cardsmall {
		display: none;
	}

	.lb_slider .mainslider .item .lb_sld_cont {
		width: 100%;
		padding: 0 10px 30px;
		text-align: center;
	}

	.lb_slider .mainslider .item .lb_sld_cont .lb {
		margin: 0 0 12px;
		font-size: 11px;
		padding: 5px 10px;
	}

	.lb_slider .mainslider .item {
		padding: 0;
	}

	.lb_slider .mainslider .item .lb_sld_cont h3 {
		font-size: 14px;
	}

	.lb_slider .mainslider .item .lb_sld_cont h2 {
		font-size: 52px;
		margin: -8px 0 -2px;
	}

	.lb_slider .mainslider .item .lb_sld_img {
		transform: scale(1);
		width: 100%;
		position: static;
		transform-origin: center bottom;
		height: 230px;
	}

	.lb_slider .mainslider .item .lb_sld_img .sicard {
		width: auto;
		transform-origin: center bottom;
		max-width: 100%;
		max-height: 280px;
		left: 0;
		bottom: -85px;
	}

	.lb_slider .mainslider .item .lb_sld_cont p {
		max-width: 246px;
		font-size: 14px;
		margin: 0 auto 23px;
		line-height: 18px;
	}

	.lb_slider .mainslider .item .lb_sld_cont .a_id {
		font-size: 16px;
		padding: 14px 23px;
		margin-left: 0px;
	}

	.lb_slider .mainslider {
		padding: 117px 0 0;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si1 {
		max-width: 300px;
		max-height: 300px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si2 {
		max-width: 300px;
		max-height: 300px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si3 {
		max-width: 300px;
		max-height: 300px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si4 {
		max-width: 350px;
		max-height: 300px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si5 {
		max-width: 300px;
		max-height: 300px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si6 {
		max-width: 300px;
		max-height: 300px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si7 {
		max-width: 300px;
		max-height: 300px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si8 {
		max-width: 200px;
		max-height: 200px;
		left: 10px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si.si9 {
		max-width: 200px;
		max-height: 200px;
	}

	.mainslider .owl-nav button.owl-prev {
		left: 0;
		width: 30px;
		background-size: 25px auto !important;
	}

	.mainslider .owl-nav button.owl-next {
		right: 0;
		width: 30px;
		background-size: 25px auto !important;
	}

	.lb_ue {
		padding: 16px 20px;
		flex-wrap: wrap;
	}

	.lb_ue label {
		font-size: 14px;
		margin: 0 0 12px;
	}

	.lb_ue p {
		margin: 0 0 13px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		width: 100%;
		line-height: 18px;
		text-align: left;
		display: flex;
	}

	.lb_ue p span {
		margin: 0 15px 0 0;
	}

	.lb_ue .a_pn {
		padding: 13px 27px;
		font-size: 14px;
	}

	.lb_walb .lb_walb_img {
		max-width: 490px;
		margin: 0 0 0 -20px;
		order: 1;
	}

	.lb_walb {
		padding: 30px 20px 0;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		background-position: center right;
	}

	.lb_walb .lb_walb_card {
		display: none;
	}

	.lb_walb .lb_walb_con .lb_walb_btn {
		display: none;
	}

	.lb_walb .lb_walb_con h4 {
		margin: 0 0 13px;
		font-size: 16px;
	}

	.lb_walb .lb_walb_con h2 {
		margin: 0 0 19px;
		font-size: 26px;
		line-height: 32px;
	}

	.lb_walb .lb_walb_con p {
		font-size: 14px;
		line-height: 20px;
		margin: 0;
	}

	.lb_walb .lb_walb_con {
		margin: 0 0 38px;
	}

	.lb_parnter .lb_partner_card {
		display: none;
	}

	.lb_parnter {
		padding: 40px 0 30px;
	}

	.main {
		padding: 0 20px;
	}

	.lb_parnter h2 {
		margin: 0 0 40px;
		font-size: 26px;
		line-height: 32px;
	}

	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn {
		width: calc(50% - 10px);
		margin: 0 5px 20px !important;
	}

	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn .flip-box-front,
	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn .flip-box-back {
		padding: 15px;
		box-shadow: 0 30px 20px 0px rgba(0, 0, 0, 0.6);
	}

	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn .flip-box-front .lb_partner_logo {
		max-width: 128px;
		max-height: 52px;
	}

	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn h4 {
		font-size: 16px;
	}

	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn .a_parnter {
		font-size: 12px;
		padding: 14px 10px;
		max-width: 100%;
	}

	.flip-box {
		height: 200px;
	}

	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn ul li {
		font-size: 10px;
		margin: 0 0 9px;
		padding: 0 25px 0 0;
		line-height: 16px;
	}

	.lb_hiw {
		padding: 40px 0;
	}

	.lb_hiw h2 {
		margin: 0 0 26px;
		font-size: 26px;
	}

	.lb_hiw .hiw_counter li {
		margin: 0 0 40px;
		width: 100%;
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.lb_hiw .hiw_counter li .hiw_step {
		width: 50px;
		height: 50px;
		margin: 0;
	}

	.lb_hiw .hiw_counter li .hiw_step span {
		display: none;
	}

	.lb_hiw .hiw_counter li .hiw_step .num_img {
		max-width: 25px;
		margin: 0;
	}

	.lb_hiw .hiw_counter li h4 {
		width: calc(100% - 70px);
		margin: 0;
		font-size: 16px;
		line-height: 26px;
	}

	.lb_hiw .hiw_counter {
		display: flex;
		margin: 0;
		flex-wrap: wrap;
		padding: 0 25px;
	}

	.lb_hiw .hiw_counter li .step_arrow .sa_img:nth-of-type(n+4) {
		display: none;
	}

	.lb_hiw .hiw_counter li .step_arrow {
		top: inherit;
		right: inherit;
		bottom: -36px;
		left: 16px;
		width: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.lb_hiw .hiw_counter li .step_arrow .sa_img {
		display: inline-block;
		vertical-align: middle;
		max-width: 25px;
		margin: -9px 0;
		transform: rotate(90deg);
		max-height: 30px;
	}

	.lb_hiw .hiw_counter li .hiw_step {
		background: transparent;
	}

	.lb_hiw h3 {
		margin: 0 0 11px;
		font-size: 16px;
		line-height: 30px;
	}

	.lb_hiw h5 {
		margin: 0 0 26px;
		font-size: 16px;
		line-height: 20px;
	}

	.lb_hiw p {
		margin: 0 0 30px;
		font-size: 14px;
		line-height: 20px;
	}

	.lb_hiw .hiw_wa h2 {
		font-size: 26px;
		margin: 0 0 20px;
	}

	.lb_hiw .hiw_wa .wa_link .a_wa {
		font-size: 20px;
		padding: 11px 20px;
		margin: 0 0 14px;
		width: 100%;
		text-align: center;
	}

	.lb_hiw .hiw_wa .wa_link {
		padding: 0 35px;
	}

	.lb_celeb {
		padding: 40px 0;
	}

	.lb_celeb .celeb_wrap h2 {
		width: 100%;
		font-size: 26px;
		line-height: 32px;
		text-align: center;
		margin: 0 0 24px;
	}

	.lb_celeb .celeb_wrap h2 span {
		width: auto;
		margin: 0 7px 0 0;
	}

	.lb_celeb .celeb_wrap .celebslider {
		width: 100%;
		padding: 0 0 70px;
	}

	.lb_celeb .celeb_wrap .celebslider .owl-item {
		opacity: 0.5;
	}

	.lb_celeb .celeb_wrap .celebslider .owl-item.active {
		opacity: 1;
	}

	.lb_celeb .celeb_wrap .celebslider .item .clb_img_wrap .a_play {
		max-width: 70px;
	}

	.lb_celeb .celeb_wrap .celebslider .owl-nav {
		width: 100%;
		padding: 0 16px;
	}

	.lb_celeb .celeb_wrap .clb_popup .clb_popup_inn {
		max-width: 90%;
	}

	.lb_celeb .celeb_wrap .celebslider .owl-nav button.owl-prev {
		width: 73px;
		height: 45px;
		background-size: 90px auto !important;
	}

	.lb_celeb .celeb_wrap .celebslider .owl-nav button.owl-next {
		width: 73px;
		height: 45px;
		background-size: 90px auto !important;
	}

	.lb_why {
		padding: 40px 0 20px;
	}

	.lb_why h2 {
		margin: 0 0 30px;
		font-size: 26px;
	}

	.lb_why .why_ul li {
		margin: 0 0 20px !important;
		width: 100%;
		padding: 25px;
	}

	.lb_why .why_ul li .why_icon {
		width: 50px;
	}

	.lb_why .why_ul li .why_cnt {
		width: calc(100% - 70px);
	}

	.lb_why .why_ul li .why_cnt p {
		font-size: 14px;
		line-height: 20px;
	}

	.lb_footer .ftr_logo {
		display: none;
	}

	.lb_footer .ftr_title {
		display: block;
		text-align: center;
		font-size: 26px;
		font-weight: bold;
		margin: 0 0 23px;
		width: 100%;
		color: #fff;
	}

	.lb_footer .ftr_title span {
		color: #FF0000;
	}

	.lb_footer {
		padding: 40px 0;
		text-align: center;
	}

	.lb_footer h3 {
		margin: 0 0 11px;
		font-size: 16px;
		line-height: 20px;
		font-weight: bold;
	}

	.lb_footer p {
		margin: 0 0 30px;
		font-size: 16px;
		line-height: 20px;
		font-weight: normal;
	}

	.lb_footer .ftr_wa h2 {
		font-size: 26px;
		margin: 0 0 20px;
		text-align: center;
		font-weight: bold;
	}

	.lb_footer .ftr_wa h2 span {
		font-size: 26px;
	}

	.lb_footer .ftr_wa .ftr_walink .a_wa {
		font-size: 20px;
		padding: 11px 20px;
		margin: 0 0 14px;
		width: 100%;
	}

	.lb_footer .ftr_wa .ftr_walink {
		padding: 0 35px;
	}

	.lb_footer .ftr_wa {
		margin: 0 0 26px;
	}

	.lb_footer .ftr_gs {
		width: 100%;
		margin: 0 0 26px;
		padding: 0 35px;
	}

	.lb_footer .ftr_gs .a_gs2,
	.lb_footer .ftr_gs .a_gs1 {
		font-size: 20px;
		padding: 11px 10px;
		margin: 0 0 14px;
		width: 100%;
	}

	.lb_footer .ftr_links a {
		margin: 0 10px 0;
		font-weight: normal;
		font-size: 14px;
		line-height: 30px;
	}

	.lb_footer .ftr_links {
		margin: 0 0 30px;
	}

	.lb_footer .ftr_social a {
		margin: 0 15px;
	}

	.lb_slider .mainslider .item .lb_sld_img .si {
		transition: all 1.5s ease 0s !important;
	}

	.lb_slider .mainslider .item .lb_sld_img .sicard {
		transition: all 1.5s ease 0s !important;
	}

	.lb_slider .mainslider .item .lb_sld_img.lb_sld_img_player {
		position: absolute;
		bottom: 0;
	}

	.lb_ue .ue_walink .a_wa {
		margin: 0 0 10px;
		width: 100%;
	}

	.lb_ue .ue_walink {
		padding: 0 35px;
	}

	.lb_walb .lb_walb_img {
		max-width: 334px;
		margin: 0 auto;
		order: 1;
		text-align: center;
		max-height: 180px;
		display: inline-block;
	}

	.lb_walb .lb_walb_img .lb_walb_img_ball {
		max-width: 25px;
		left: 41%;
		top: 21%;
	}

	.lb_walb .lb_walb_img .lb_walb_img_ball.anim {
		left: 31%;
		top: 33%;
	}
}


@media screen and (max-width:350px) {
	.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn .flip-box-front .lb_partner_logo {
		max-width: 88px;
		max-height: 32px;
	}

	.lb_walb .lb_walb_img .lb_walb_img_ball {
		max-width: 20px;
		left: 41%;
		top: 28%;
	}

	.lb_walb .lb_walb_img .lb_walb_img_ball.anim {
		left: 31%;
		top: 36%;
	}
}